.Book>h3{
    color: #006064;
}
.Book p{
    color: #455A64;
}
nav{
    background-color: #ECEFF1;
    border: 2px solid white;
    margin: 10px;
    padding: 20px;
    max-width: 400px;
}
h1{
    color: #006064;
}
article{
    background-color: #B2DFDB;
    margin: 20px;
    padding:30px;
    border: 2px solid #455A64;
}
.Book-container{
    border:2px solid black;
    max-width: 400px;
}
.Book{
    background-color: #FFCCBC;
    margin: 10px;
    padding: 20px;
    max-width: 400px;
}
.Book a:link{
    display: inline-block;
    background-color: #006064;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.Book a:hovered{
    background-color: #00363A;
    color: white;
}

.Book a:visited{
    background-color: #004D50;
    color: white;
}

.back-link a:link {
    display: inline-block;
    background-color: #006064;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.back-link a:hovered{
    background-color: #00363A;
    color: white;
}

.back-link a:visited{
    background-color: #004D50;
    color: white;
}
