body {
    background-color: #FAF9F6;
    font-family: Sans-Serif;
    color: #4A4A4A;
    padding: 5px;
}

.intro {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

.established {
    font-style: italic;
    text-align: center;
}

img {
    height: 100px;
    width: 100%;
    border: 2px solid #E0E0E0;
}
h1,h2,h3 {
    color: #8D6463;
}

h1,h2 {
    text-align: center;
}

hr {
    border: 2px solid #EFE6DD;
}

.item {
    display: inline-block;
    width: 60%;
    
}

.price {
    display: inline-block;
    text-align: right;
    width: 35%;
    font-weight: bold;
    color: #D88C74;
    
}

main {
    background-color: #F3EDE6;
}

.menu-item {
    background-color: #E8DDD0;
    outline: 4px solid #E0E0E0;
}

header {
    background-color: #EDE0D4;
    outline: 4px solid #E0E0E0;
}

.day {
    display: inline-block;
    width:60%;
}

.time {
    display: inline-block;
    width: 40%;
    text-align: right;
}

a {
    color: #D88C74;
}

footer {
    background-color: #EfE6DD;
    padding: 5px;
    outline: 4px solid #E0E0E0;
}

h3 {
    text-align: center;
}