:root {
  --background: #e1e7ee; /* blue‑gray */
  --text: #333;
  --hover: #66ccff; /* pale blue */
  --primary-btn: #4567b7; /* deep blue */
}

body {
  background: var(--background);
  color: var(--text);
}

header {
    padding: 5px;
}
header p{
    text-align: center;
}

fieldset :nth-child(1){
    color:var(--hover);
    font-size: 1rem;
}

fieldset p,section p{
    color:var(--primary-btn);
}

fieldset {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--hover);
}

input:valid {
  outline-color: green;
}

input:invalid {
  outline-color: crimson;
}

#employment-status,#stress-level{
    outline-color:var(--hover);
}

textarea {
    outline-color: var(--hover);
}

#submit {
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding:5px;
    margin: 10px;
    background-color: var(--primary-btn);
    text-decoration: none;
}